<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Zycus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <div *ngIf="auth.signedIn">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="matMenu"> 
            <!-- <mat-icon></mat-icon> -->
            {{auth.loggedInUserInitials}}
          </button>
          
          <mat-menu #menu="matMenu" class="menuItems"> 
            <button mat-menu-item>
              <span>Profile Data</span>
            </button>
            <button mat-menu-item disabled>
              <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
              <span (click)="Logout()">Logout</span>
            </button>
          </mat-menu>
          </div>
</div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
       <div *ngIf="auth.showNavbarList"> 
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="profile/{{auth.userId}}/detail" routerLinkActive="router-link-active" >Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="profile/{{auth.userId}}/album" >Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="profile/{{auth.userId}}/posts">Posts</a>
        </li>
      </ul>
      </div>
      <div *ngIf="auth.showSearchBar" class="searchbar">
      <form class="form-inline">
        <div class="searchComponent">
        <input class="form-control  searchInput" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
        <button class="btn btn-success" type="submit">Search</button>
        </div>
      </form>
      </div>
    </div>
  </nav>